.parent {
    position: relative;
}

.stats-content {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blur {
    backdrop-filter: blur(2px);
}

.stat-left {
    margin-right: 30px;
}

.stat-left ol {
    font-size: 17pt;
    font-family: Helvetica;
}

.stat-right {
    border-left: solid 5px green;
    padding-left: 40px;
}

textarea {
    height: 46px;
    width: 900px;
}

textarea, input[type="submit"] {
    font-size: 15pt;
}

input[type="submit"] {
    border-radius: 5px;
    background-color: rgb(6, 233, 101);
    color: rgb(0, 0, 0);
}

input[type="submit"]:hover {
    color: white;
}

.url {
  margin-top: 60px;  
}

.url > a {
    color: rgb(160, 14, 14);
    text-decoration: underline
}