/*
  To center a top-level div, body tag needs to be a flexbox. If scrollbars appearing, this is because 
  height property of some element is too large. In this case margin was at fault thus set to 0.

  Issues with centering a div 99% of the time are due to incorrect height properties.
*/

html {
  background-image: url('./assets/background.jpg');
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

#root {
  font-size: 1.7rem;
  font-family: Fira Code;
  color: white;
}